services:
  _defaults:
    autowire: true
    autoconfigure: true

  Greendot\EshopBundle\:
    resource: '../src/*'
    exclude: '../src/{DependencyInjection,Migrations,Tests,Kernel.php}'

  Greendot\EshopBundle\Controller\:
    resource: '../src/Controller'
    tags: ['controller.service_arguments']

  Greendot\EshopBundle\OpenApi\ShortCodeOpenApiFactory:
    decorates: 'api_platform.openapi.factory'
    arguments:
      $decorated: '@Greendot\EshopBundle\OpenApi\ShortCodeOpenApiFactory.inner'
    autoconfigure: false